version: 2
updates:
  - package-ecosystem: npm
    directory: /
    groups:
      npm:
        patterns:
          - '*'
    schedule:
      interval: daily
  - package-ecosystem: github-actions
    directory: /
    groups:
      github-actions:
        patterns:
          - '*'
    schedule:
      interval: daily
